<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="launching.nmct.howest.be.week4oef2" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImplicitActivity"
            android:label="@string/title_activity_implicit" >
            <intent-filter>
                <action android:name="be.howest.nmct.intentfiltersproject.intent.action.IMPLY" />
                <action android:name="android.intent.action.VIEW" /> <!-- onderzoek drie blijft werken ja -->

                <data android:scheme="xtp" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.CAR_DOCK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondImplicityActivity"
            android:label="@string/title_activity_second_implicity" >
            <intent-filter>
                <action android:name="be.howest.nmct.intentfiltersproject.intent.action.IMPLY" />
                <action android:name="android.intent.action.VIEW" /> <!-- onderzoek drie blijft werken ja -->

                <data android:host="www.kortrijk.be"
                      android:path="/nieuws"
                      android:scheme="http"/>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
